html {
  font-size: 18px;
}

body {
  line-height: 1.4;
  font-family: Helvetica;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.backgr-image {
  background-image: url("../images/glasses-bg.png");
  padding-top: 1rem;
  height: 31rem;
  background-size: cover;
  background-position: center;
}

.headline {
  background-color: cadetblue;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  margin-right: 1rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
  padding-left: 2rem;
}

#small-a {
  display: none;
}

.whitebox {
  padding: 1.5rem 5rem;
  color: black;
  background-color: white;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
  margin-top: 10rem;
  margin-right: -2rem;
  float: right;
}

.three-pics {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.box-pic-and-str {
  max-height: 8rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
}

.box-pic-and-str span {
  text-align: center;
}

.img-box img {
  max-width: 5rem;
}

#paper-icon {
 max-width: 3.5rem;
}

.two-box {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.headline-and-text {
  margin: 0 2.5%;
  width: 35%;
}

.headline-box {
  width: 10rem;
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: left;
  color: white;
}

footer {
  background-color: azure;
  padding: 4rem;
  display: flex;
  align-items: center;
}

footer span {
  margin-left: 1rem;
}

footer img {
  height: 1.5rem;
}

@media only screen and (max-width: 1024px) {
  .whitebox {
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }
  .container {
    width: 100%;
  }
  .backgr-image {
    padding-top: 0;
    height: 22rem;
  }
}

@media only screen and (max-width: 480px) {
  .backgr-image {
    background-position: 20%;
    height: 17rem;
  }
  .whitebox {
    padding: 1rem 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 9rem;
    font-size: 1rem;
    text-align: center;
  }
  .logo span {
    display: none;
  }
  nav a {
    display: none;
  }
  #small-a {
    display:inline;
  }
  .three-pics {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.77rem 0;
  }
  .box-pic-and-str {
    margin-top: 1.54rem;
    font-size: 0.77rem;
  }
  #paper-box {
    margin-top: 0;
  }
  .two-box {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0rem;
  }
  .headline-and-text {
    margin: 0;
    width: 100%;
  }
  .headline-box {
    width: 100%;
    text-align: center;
  }
  footer span {
    display: none;
  }
  footer {
    justify-content: center;
  }
  .headline-box {
    padding: 0.5rem 0;
  }
  .headline-and-text {
    margin-bottom: 4rem;
  }
  .headline-and-text span {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
