html {
  font-size: 18px;
}

body {
  line-height: 1.4;
  font-family: Helvetica;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.backgr-image {
  background-image: url("../images/glasses-bg.png");
  padding-top: 1rem;
  height: 31rem;
  background-size: cover;
  background-position: center;
}

.headline {
  background-color: cadetblue;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  margin-right: 1rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
  padding-left: 2rem;
}

.whitebox {
  padding: 1.5rem 5rem;
  color: black;
  background-color: white;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
  margin-top: 10rem;
  margin-right: -2rem;
  float: right;
}

.three-pics {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.box-pic-and-str {
  max-height: 8rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
}

.box-pic-and-str span {
  text-align: center;
}

.img-box img {
  max-width: 5rem;
}

#paper-icon {
 max-width: 3.5rem;
}

.two-box {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.headline-and-text {
  margin: 0 2.5%;
  width: 35%;
}

.headline-box {
  width: 10rem;
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: left;
  color: white;
}

footer {
  background-color: azure;
  padding: 4rem;
  display: flex;
  align-items: center;
}

footer span {
  margin-left: 1rem;
}

footer img {
  height: 1.5rem;
}
